/* STATUS COLOR */
.btn.unread, .status.unread {
    background-color: #dce822 !important;
    color: white;
}

.btn.pending, .status.pending {
    background-color: palevioletred !important;
    color: white;
}

.btn.confirmed, .status.confirmed {
    background-color: paleturquoise !important;
    color: white;
}

.btn.canceled, .status.canceled {
    background-color: #2c2c2c !important;
    color: white;
}

.reservationBox .btn.status.unread:hover {
    border: solid 1px #d8e703 !important;
}

.reservationBox .btn.status.pending:hover {
    border: solid 1px #d35e85 !important;
}

.reservationBox .btn.status.confirmed:hover {
    border: solid 1px #49f0f0 !important;
}

.reservationBox .btn.status.canceled:hover {
    border: solid 1px #000 !important;
}


/* CALENDAR */
td i.unread, th i.unread {
    color: #dce822;
}

td i.pending {
    color : palevioletred;
}

td i.canceled {
    color: #2c2c2c;
}

td i.confirmed {
    color: paleturquoise;
}


#bulkOptions div.error {
    color: tomato;
    padding-bottom: 1rem;
    font-size: 1.5rem;
}